/* ref: https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook
     /Center_an_element */
.albumCoverImage {
  width: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.albumDiv {
  padding: 10px;
  flex: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#albumList {
  font-family: 'Inconsolata', "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 400px;
  overflow: hidden;
}

/* ref: https://developer.mozilla.org/en-US/docs/Web/CSS/flex */
#albumList ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

#albumList ul li {
  list-style-type: none;
}

#audioPlayerSlider {
  width: 100%;
}

#currentAudioTitle {
  flex: auto;
  text-align: center;
}

.audioContainer {
  border: 1px solid #777;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
  background-color: #fff;
  /* ref: Scrapbook2 theme */
  font-family: 'Inconsolata', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ref: https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries
     /Using_media_queries */
@media (max-width: 500px) {
  .audioContainer {
    width: auto;
  }
}

.audioNextButtonBox {
  justify-content: right;
  width: 24px;
}

/* ref: https://www.w3.org/Style/Examples/007/center.en.html */
/* ref: https://developer.mozilla.org/en-US/docs/Web/CSS/flex */
.audioPlayButtonBox {
  flex: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.audioPrevButtonBox {
  justify-content: left;
  width: 24px;
}

.controlBoxDetails {
  display: flex;
  flex-direction: row;
}

.audioRandomButtonBox {
  flex: auto;
  text-align: center;
}

.audioRepeatOneButtonBox {
  flex: auto;
  text-align: center;
}

.audioTimePlayed {
  float: left;
}

.audioLength {
  float: right;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
.container {
  max-width: 500px;
}
*/

.control {
  color: #000;
}

.controlBox {
  display: flex;
  flex-direction: row;
}

.randomDisabled {
  color: #000;
}

.randomEnabled {
  color: #f00;
}

.repeatOneDisabled {
  color: #000;
}

.repeatOneEnabled {
  color: #f00;
}

#songList {
  font-family: 'Inconsolata', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.animateAlbumsLeft {
  /* ref: https://www.designcise.com/web/tutorial
       /how-to-stop-on-the-last-frame-when-a-css-animation-ends */
  -webkit-animation: 1s linear 0s 1 normal forwards running slideOverToLeft;
  animation: 1s linear 0s 1 normal forwards running slideOverToLeft;
}
.animateAlbumsRight {
  /* ref: https://www.designcise.com/web/tutorial
       /how-to-stop-on-the-last-frame-when-a-css-animation-ends */
  -webkit-animation: 1s linear 0s 1 normal forwards running slideOverToRight;
  animation: 1s linear 0s 1 normal forwards running slideOverToRight;
}

@-webkit-keyframes slideOverToLeft { from { margin-left: 0px; } to { margin-left: -100px; }
@keyframes slideOverToLeft { from { margin-left: 0px; } to { margin-left: -100px; }
@-webkit-keyframes slideOverToRight { from { margin-left: 0; } to { margin-left: 100px; }
@keyframes slideOverToRight { from { margin-left: 0; } to { margin-left: 100px; }
