/* ref: https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook
     /Center_an_element */
.albumCoverImage {
  width: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.albumDiv {
  padding: 10px;
  flex: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#albumList {
  font-family: 'Inconsolata', "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 418px;
  display: flex;
  flex-direction: row;
}

/* ref: https://developer.mozilla.org/en-US/docs/Web/CSS/flex */
#albumList ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex: auto;
  width: 320px;
  overflow: hidden;
}

#albumList ul li {
  list-style-type: none;
}

#prevAlbumButton {
  justify-content: left;
  width: 24px;
  vertical-align: middle;
}

/* ref: https://developer.mozilla.org/en-US/docs/Web/CSS
     /CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container */
#prevAlbumButtonBox {
  display: flex;
  align-items: center;
}

#nextAlbumButton {
  justify-content: right;
  width: 24px;
}

#nextAlbumButtonBox {
  display: flex;
  align-items: center;
}

#audioPlayerSlider {
  width: 100%;
}

#currentAudioTitle {
  flex: auto;
  text-align: center;
}

.audioContainer {
  border: 1px solid #777;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
  background-color: #fff;
  /* ref: Scrapbook2 theme */
  font-family: 'Inconsolata', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Mobile CSS Rules */
/* ref: https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries
     /Using_media_queries */
@media (max-width: 500px) {
  .audioContainer {
    width: auto;
  }

  #albumList {
    width: 350px;
  }

  /* ref: https://developer.mozilla.org/en-US/docs/Web/CSS/flex */
  #albumList ul {
    width: 300px;
  }
}

.audioNextButtonBox {
  justify-content: right;
  width: 24px;
}

/* ref: https://www.w3.org/Style/Examples/007/center.en.html */
/* ref: https://developer.mozilla.org/en-US/docs/Web/CSS/flex */
.audioPlayButtonBox {
  flex: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.audioPrevButtonBox {
  justify-content: left;
  width: 24px;
}

.controlBoxDetails {
  display: flex;
  flex-direction: row;
}

.audioRandomButtonBox {
  flex: auto;
  text-align: center;
}

.audioRepeatOneButtonBox {
  flex: auto;
  text-align: center;
}

.audioTimePlayed {
  justify-content: left;
  width: 35px;
}

.audioLength {
  justify-content: right;
  width: 35px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
.container {
  max-width: 500px;
}
*/

.control {
  color: #000;
}

.controlBox {
  display: flex;
  flex-direction: row;
}

.randomDisabled {
  color: #000;
}

.randomEnabled {
  color: #f00;
}

.repeatOneDisabled {
  color: #000;
}

.repeatOneEnabled {
  color: #f00;
}

#songList {
  font-family: 'Inconsolata', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
